.link {
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  color: rgba(21, 25, 28, 0.77);
}

.active-link {
  composes: link;
  color: rgba(255, 111, 0);
}

.link:hover,
.link:focus {
  background-color: rgba(74, 20, 140, 0.04);
}
